:root {
  --pkRed: #FF0000;
  --pkBostonRed: #CC0000;
  --pkCerulean: #3B4CCA;
  --pkGolden: #FFDE00;
  --pkGoldFoil: #B3A125;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3B4CCA;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
#scores {
  justify-content: center;
}
.border {
  margin-left: 120px;
  margin-right: 20px;
}


.container {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 300px;
  height: 500px;
}
#user-card {
  display: flex;
  justify-content: space-around;
}

#cpu-card {
  display: flex;
}

#score {
  margin-left: 50px;
  justify-content: center;
}

#start-button {
width: 500PX;
height: 80px;
margin: 50PX;
font-size: 30PX;
font-weight: 30PX;
padding-top: 5PX;

}

#rounds-modal {
  display: flex;
  padding: 80px;
}

.container-modal {
  display: flex;
  padding: 80px;
}


