:root {
  --pkRed: #FF0000;
  --pkBostonRed: #CC0000;
  --pkCerulean: #3B4CCA;
  --pkGolden: #FFDE00;
  --pkGoldFoil: #B3A125;
}

* {
  margin: 0;
  padding: 0;
}

html {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  color: var(--pkGolden);
}

#logo {
  max-height: 50px;
  margin: 5px;
}

body {
  background-color: var(--pkCerulean);
}

#title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#title h1 {
  text-shadow: -2px 0px 0px red,
    2px 0px 0px red,
    0px -2px 0px red,
    0px 2px 0px red;
  color: var(--pkGolden);
}

#scores,
#rounds {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--pkBostonRed);
  border: 2px solid var(--pkBostonRed);
  background-color: var(--pkGolden);
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#scores p,
#rounds p {
  margin-bottom: 0;
}

.card {
  height: 525px;
  width: 350px;
  margin: 0 auto;
}

#startCard {
  width: 60%;
  height: 60%;
}

#userName {
  resize: none;
}

#userCardContainer,
#cpuCardContainer {
  background: url("../images/cardback.png");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  padding: 10px;
  border: 15px solid var(--pkGolden);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardAbilityBtn {
  margin: 5px;
  padding: 10px;
  min-width: 280px
}

.cardAbility {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardAbility p {
  margin-bottom: 0;
}

.hidden {
  visibility: hidden;
  display: none;
}

.cardZone {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.userCardHPBtn,
.cpuCardHPBtn {
  background-color: var(--pkBostonRed);
}

.userCardAttackBtn,
.cpuCardAttackBtn {
  background-color: var(--pkGolden);
}

.userCardDefenseBtn,
.cpuCardDefenseBtn {
  background-color: var(--pkCerulean);
}

.userCardSpeedBtn,
.cpuCardSpeedBtn {
  background-color: var(--pkGoldFoil);
}

.userCardHPBtn,
.cpuCardHPBtn,
.userCardAttackBtn,
.cpuCardAttackBtn,
.userCardDefenseBtn,
.cpuCardDefenseBtn,
.userCardSpeedBtn,
.cpuCardSpeedBtn {
  color: white;
  border: 1px solid var(--pkCerulean);
}


.userCardHPBtn:hover,
.cpuCardHPBtn:hover,
.userCardAttackBtn:hover,
.cpuCardAttackBtn:hover,
.userCardDefenseBtn:hover,
.cpuCardDefenseBtn:hover,
.userCardSpeedBtn:hover,
.cpuCardSpeedBtn:hover {
  transform: scale(1.05);
  transform-origin: center;
  color: white;
}

.cardImage {
  margin: 5px;
  width: 200px;
  height: 200px;
  border: 1px solid var(--pkCerulean);
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.cardHeader {
  background: var(--pkGoldFoil);
  color: var(--pkCerulean);
  border: 2px solid var(--pkCerulean);
  min-width: 220px;
  text-align: center;
}

.selected {
  background: forestgreen;
  transform: scale(1.05);
  transform-origin: center;
}

.shadows {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.shimmer {
  background: linear-gradient(to right, var(--pkGoldFoil) 0%, var(--pkGolden) 25%, var(--pkGoldFoil) 50%, var(--pkGolden) 75%, var(--pkGoldFoil) 100%);
  background-size: 400% 100%;
  animation: shimmer 20s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.flipped {
  transform: rotateY(360deg);
  transition: transform 1s ease-in-out;
}

.instructionsImage {
  margin: 5px;
  width: 200px;
  height: 320px;
  border: 5px solid var(--pkCerulean);
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.finalModalImage {
  width: 320px;
  margin: 5px;
  border-radius: 5px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  max-width: 100%;
  height: "auto"
}